* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1ABC9C;
    height: 70px;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.header-wrapper {
    height: 100%; /* === 70px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    font-size: 25px;
    color: black;
    text-decoration: none; /* убираем нижнее подчеркивание */
}
a:not(:last-child) {
    margin-right: 20px;
}
.social-icon:not(:last-child) {
    margin-right: 20px;
}
/* О нас */
.about {
    display: flex;
    align-items: center;
}
.about-img {
    width: 50%;
}
.about-info {
    padding: 0 65px;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
}
.about-descr {
    font-size: 20px;
    text-align: justify; /* выравнивание по ширине */
}
/* Наши проекты */
.projects {
    background-color: #DCFFEB;
    padding: 125px 0; /* 1 - сверху/снизу; 2 - справа/слева  */
}
h2 {
    font-size: 35px;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    gap: 35px;
}
.projects-item {
    width: calc(100% / 3 - 17px);
}
footer{
    margin-top: 84px;
    margin-bottom: 76px;
}
h3 {
    font-size: 35px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif ;
    margin-bottom: 55px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    height: 220px;
}
.footer-item{
    width: calc(100% / 4 - 18px);
    height: 191px;
    text-align: center;
    font-size: 24px;
    font-family: inherit ;
}
.footer-title{
    color: grey;
    margin-bottom: 25px;
}
.footer-img{
    width: 35px;
    height: 35px;
    margin-bottom: 36px;
}
.e-mail{
    color: red;
}
/* 
    gap - отступ внутри flex контейнера
    ctrl+/ - комментарий
    Задача. Всем элементам с классом .social-icon, кроме последнего добавить отступ
    
    :not - НЕ
    :last-child - последний элемент
    :first-child - первый элемент
    :nth-child(N) - задаем стили для N элемента  
    ДЗ. 
*/